#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#heading {
  background-color: gainsboro;
  width: 80%;
  height: 30vh;
  min-height: 30px;
  margin: auto;
  font-size:calc(12px + 10vmin);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#location {
  color: gray;
  margin: auto;
}